{% extends "sistema/base.html" %}
{% load static %}
{% block title %}Inicio - Libreria{% endblock %}

{% block contenido %}
            
    <section class="inicio justify-content-center mb-4">
        <img src="{% static 'img/bienvenida.jpg' %}" alt="bienvenida" class="inicio-imagen">
        <div class="inicio-texto text-left">
            <h1 class=" mt-5">Te damos la bienvenida.</h1>
            <p>Explora la increíble colección de peliculas de Matías en Planeta Marsiano.</p>
            <a href="{% url 'listado_peliculas' %}" class="btn btn-inicio">Ver ahora</a>
        </div>
    </section>

    <hr>    

    <section class="inicio-descripcion text-left d-flex flex-column gap-2 mt-4 mb-4">
        <h2>¿Listo para descubrir Planeta Marsiano?</h2>
        <p>Sumérgete en el universo del séptimo arte con una cuidada y vasta selección de películas y 
            series que abarcan desde los grandes clásicos hasta las producciones más recientes. Cada obra ha sido destacada, 
            analizada y catalogada con el inconfundible criterio del crítico de cine Matías Riquelme, cuya mirada rigurosa y 
            apasionada invita a descubrir nuevas perspectivas, apreciar cada detalle narrativo y redescubrir el verdadero 
            poder del cine. Aquí encontrarás no solo recomendaciones, sino también un espacio donde la reflexión, el análisis 
            y el amor por el séptimo arte se encuentran para guiarte en tu próxima experiencia cinematográfica.</p>
    </section>

    <hr>

    <section class="inicio-banner mt-4 mb-4">
        <img src="{% static 'img/trainspotting/banner.jpg' %}" alt="Banner" class="banner">
    </section>

    <section class="inicio-links text-left d-flex flex-column gap-2 mt-4 mb-8">
        <h2>Explora más secciones</h2>
        <div class="d-flex flex-wrap justify-content-evenly  gap-4">

            <div class="card text-center align-items-center " style="width: 20rem;">
                <img src="{% static 'img/seven/seven-face.jpg'%}" alt="1" class="card-img-top">

                <div class="card-body">
                    <h5 class="card-title">Lista</h5>
                    <a href="{% url 'listado_peliculas' %}" class="btn">Ver Lista</a>
                </div>
            </div>

            <div class="card text-center align-items-center" style="width: 20rem;">
                <img src="{% static 'img/br/br-face.webp' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Galeria</h5>
                    <a href="{% url 'galeria' %}" class="btn">Ver Galeria</a>
                </div>
            </div>

            <div class="card text-center align-items-center" style="width: 20rem;">
                <img src="{%static 'img/her/her-face.webp'%}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Contacto</h5>
                    <a href="{% url 'contacto' %}" class="btn">Contactarse</a>    
                </div>
            </div>

            <div class="card text-center align-items-center" style="width: 20rem;">
                <img src="{%static 'img/ghb/ghb-face.jpg'%}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title   ">Acerca de</h5>
                    <a href="{% url 'about' %}" class="btn">Ver Acerca de</a>
                </div>
            </div>
            
        </div>

        <div class="mb-8 p-5">
            
        </div>
    </section>
{% endblock %}  